<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="api_key" 
             type="text" 
             label="API Key (MDBList)" 
             default=""
             help="Obtenha sua chave gratuita em https://mdblist.com/api/"/>
    
    <setting type="lsep" label="Trailer Settings"/>
    <setting id="dstv_trailer_delay_slow" 
             type="number" 
             label="Delay reprodução de trailer" 
             default="5" />

    <setting type="lsep" label="Maintenance"/>
    <setting type="lsep" label="It's a must to clear cache at first time to clear empty ratings."/>

    <setting id="clear_cache" 
             type="action" 
             label="Clear Cache" 
             action="RunScript(special://home/addons/script.showimdb/resources/clear_cache.py)"
             help="Deletes temporary files and cached data to free space or fix display issues."
             description="Click to clear all cached ratings and temporary files."/>
</settings>
